*{  margin: 0;
    padding: 0;
}
nav{
    
   .navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.897);
    color: aliceblue;
    height: 60px;
    font-family: 'Poppins', sans-serif;
}
.content{
    font-family: 'Poppins', sans-serif;
}

.container{
    /* background-color: crimson; */
    font-family: 'Poppins', sans-serif;
    width: 50vw;
    padding: 32px ;
    margin: auto;
    /* color: aliceblue; */

}

.logo img{
    width: 32px;
}
.toolbar-item button{
    cursor: pointer importent;
    color: aliceblue importent;
}
